.card {
    background: #fff;
    border-radius: 2px;
    height: 9vw;
    margin: 1vw;
    position: relative;
    width: 9vw;
    border: 2px solid rgb(129, 0, 0);
    box-shadow: 0 3px 6px rgb(175, 174, 174), 0 3px 6px #999;
    text-align: left;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .card > .img-container {
    height: 20%;
    overflow: hidden;
    text-align: center;
  }
  .card > .img-container > img {
    width: 20%
  }